<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Key</key>
		<string>hostname</string>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>Hostname</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>port</string>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>Port</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>en</string>
		<key>Key</key>
		<string>locale</string>
		<key>Title</key>
		<string>Language</string>
		<key>Titles</key>
		<array>
			<string>English</string>
			<string>German</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>en</string>
			<string>de</string>
		</array>
	</dict>
</array>
</plist>
