<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>passafari update</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.github.mmichaa.passafari</string>
       <key>Developer Identifier</key>
       <string>897X8SYVFR</string>
       <key>CFBundleVersion</key>
       <string>1.0.alpha3</string>
       <key>CFBundleShortVersionString</key>
       <string>0.8.3</string>
       <key>URL</key>
       <string>https://github.com/mmichaa/passafari.safariextension/releases/download/v1.0.alpha3/passafari-v1.0.alpha3.safariextz</string>
     </dict>
   </array>
</dict>
</plist>